{% extends "layout.html" %}

{% macro PersonCard(person) %}
<div class="person card">

  <div class="image-holder">
    <img class="person__image" src="{{ person | personImage }}" alt="{{ person.name }}" />
  </div>
  <div class="card__body">
    <h2 class="person__name">{{ person.name }}</h2>
    <div class="person__title">{{ person.title }}</div>
    <div class="person__description">{{ person.description | md }}</div>
    {% if person.linkurl %}
    <div class="link-button"><a href="{{ person.linkurl }}" id="link"><div class="person__url">
      Read full story
      <div class="arrow"></div>
    </div></a></div>
    {% else %}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro Group(name, people, intro) %}
<h2>{{name | capitalize }}</h2>
<p class="intro">{{ intro }}</p>
<div class="group">
  {% for person in people %}
    {{ PersonCard(person) }}
  {% endfor %}
</div>
{% endmacro %}


{% block article_body %}

  {% for group in groups %}
    {{ Group(group.name, group.list, group.intro) }}
  {%  endfor %}

<div class="article__byline bottom-byline">Page design: <a href="https://twitter.com/alekswis" class="o-typography-link-topic o-typography-link-topic--small" itemprop="author">Aleksandra Wisniewska</a> and <a href="https://twitter.com/carolinenevitt" class="o-typography-link-topic o-typography-link-topic--small" itemprop="author">Caroline Nevitt</a></div>
<div class="article__byline bottom-byline">Illustration: NAME AND SURNAME</div>
{% endblock %}
