@import 'o-colors/main';
@import 'components/core/main';
@import 'o-grid/main';

a {
  cursor: pointer;
}

h1.o-typography-heading1 {
  font-size: 34px;
  color: #333333;
  line-height: 33px;
  text-align: center;
}

header > p {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 20em;
}

.o-typography-lead {
  font-size: 23px;
}

o-typography-link {
  font-family: MetricWeb, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.o-typography-lead > .o-typography-link {
  font-size: 21px;
  padding-top: 5px;
}

figure {
  margin: 0;
  margin-top: 15px;
  text-align:center;
}

// .big-img {
//   display: none;
// }

figcaption.o-typography-caption {
  margin-bottom: 3px;
  margin-top: 3px;
}

.article-body > :not(.graphic) {
   max-width: 625px;
   margin: 0 auto;
   padding: 1.2em 0.75em 0.5em;
}

header > div.o-share {
  display: none;
}


.article-head {
  margin-bottom: 0;
}

header > p {
  text-align: center;
}

// group names
.o-typography-body-wrapper h2 {
 font-family: MetricWeb, sans-serif;
 font-weight: 500;
 font-size: 1.3em;
 letter-spacing: 0.1em;
 text-transform: uppercase;
 display: block;
 text-align: center;
}

div.article-body > h2:first-child {
  padding-top: 10px;
}


.article-body > p.intro {
  padding-top: 0px;
  padding-bottom: 19px;
  line-height: 23px;
  text-align: center;
  font-family: MetricWeb, sans-serif;
  font-size: 20px;
}


.group {
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 2px 1px;
  //padding-top: 1.5em;
  background: rgb(255, 251, 247);
  margin: 0 auto 1.5em;
  display: block;

  h2 { //person name
    font-family: MetricWeb, sans-serif;
    font-size: 1.4em;
    color: #333333;
    line-height: 22px;
    margin: 0;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: capitalize;
    text-align: left;

  }

  *:last-child {
    border-bottom: none;
  }
}

.card__body {
  overflow: visible;
  margin: 0;

}

.person {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2.25em 1em;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e9decf;

  &__title { // this doesn't seem to be pulled in
  font-family: MetricWeb, sans-serif;
  font-weight: 400;
  color: rgb(167, 165, 155);
  font-size: 1.25em;
  line-height: 20px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  &__image {
    width: 85px;
    height: auto;
    vertical-align: bottom;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  &__description > p {
      font-family: Georgia, serif;
      font-size: 17px;
      color: rgb(80, 80, 80);
      line-height: 25px;
      margin: 4px 0px;
      display: block;
      //-webkit-margin-before: 1em;
      //-webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

}

.image-holder {
  float: left;
  margin-right: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#link {
  color: #505050;
}

.person__url{
  padding-top: 3px;
  text-align: left;
}

.link-button{ // this is wrapping
      display: block;
      text-align: center;
      margin-right: 2px;
      margin-top: 15px;
      font-size: 1.05rem;
      width: 120px;
      font-weight: 400;
      padding-left: 16px;
      height: 36px;
      line-height: 26px;
      box-sizing: border-box;
      float: right;
      color: 'white';
      border-radius: 4px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;


      &:after { // this is arrow style
        content: " ";
        background: url('https://image.webservices.ft.com/v1/images/raw/fticon:arrow-right?height=44&tint=9B164F,9B164F&source=ig_wrr') no-repeat center center;
        background-size: 16px 16px;
        position: absolute;
        bottom: 39px;
        right: 28px;
        width: 16px;
        height: 16px;
        margin: 0 0 8px 0;
      }
    }

.article-body > .bottom-byline {
  padding-top: 10px;
  padding-bottom: 0;
}

 @include oGridRespondTo(M) {

   header > div.o-share {
     display: inline-block;;
   }

   .article-body > p.intro {
     line-height: 25px;
   }

  .image-holder,
  .card__body {
    overflow: visible;
  }

  .image-holder img {
    width: 80px;
    height: auto;
  }

  .title {
    font-size: 18px;
    line-height: 30px;
        -webkit-font-smoothing: antialiased;
  }
  .person__name {
    font-size: 22px;
    line-height: 22px;
  }

  .person__description {
    font-size: 21px;
    line-height: 28px;
    font-family: FinancierDisplayWeb, serif;
  }

  .person__name {
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    font-size: 1.25em;

    // &:after {
    //   display: block;
    //   width: 80px;
    // }
  }
  .person {
    padding-top: 2.1em;
    padding-bottom: 2.1em;
  }


  .link-button {
        &:after {
          bottom: 36px;
          right: 28px;
        }
      }

      .article-body > .bottom-byline {
        padding-top: 10px;
        padding-bottom: 0;
      }

}


@include oGridRespondTo(L) {
  h1.o-typography-heading1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 7px;
  }

  .o-typography-lead{
    font-size: 26px;
    line-height: 28px;
  }

  .article-body > :not(.graphic) {
    padding: 1.8em 0.75em 0.5em;
 }

 img {
   max-width: 600px;
 }

  hr {
      width: 30em;
  }

  .image-holder,
  .card__body {
    overflow: hidden;
  }
  .person {
    padding: 2.25em 2em;
  }

  .title {
    font-size: 18px;
    line-height: 30px;
  }

  .image-holder img {
    width: 85px;
    height: 85px;
  }

  .person__name {
    font-size: 2em;
  }

  .o-typography-body-wrapper h2 {
    font-size: 1.3em;
  }

  .link-button {
        &:after {
          bottom: 39px;
          right: 45px;
        }
      }

      .article-body > .bottom-byline {
        padding-top: 10px;
        padding-bottom: 0px;
      }
}
